*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 15px 10px 10px 10px;
}

.contenedor-divs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.grupo-notificaciones {
  margin-top: 25px;
  width: 320px;
  text-align: left;
}

.label-notificaciones {
  color: black;
  font-size: 16px;
  margin-right: 5px;
  pointer-events: none;
}

.input-notificaciones {
  border-radius: 5px;
  width: 15px;
  height: 15px;
}
