.div-productos {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100vw;
  height: 420px;
}
