.div-productos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-productos{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  width: auto;
  height: 420px;

}

/* @media screen and (max-width: 1100px) {
    .contenedor-productos {
      width: 50%;
    }
    .box-producto {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .contenedor-productos {
      width: 60%;
    }
    .box-producto {
      width: 60%;
    }
  }
  
  @media screen and (max-width: 450%) {
    .contenedor-productos {
      width: 80%;
    }
    .box-producto {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 300px) {
    .contenedor-productos {
     width: 90%; 
    }
    .box-producto {
      width: 90%;
    }
  }  */