*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-bar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.side-bar .menu {
    width: 100%;
    margin-top: 80px;

}

.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a{
    height: 28px;
    width: 173px;
    left: 1202px;
    top: 600px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.side-bar .menu .item a:hover{
    background: rgba(255, 255, 255, 0.1);
    transition: 0.3s ease;
}

.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
    background: rgba(255, 255, 255, 0.1);

}

.side-bar .menu .item .sub-menu a{
    padding-left: 80px;
    
}