*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-login {
    background-color: white;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    margin: auto;
  }

.grupo-login {
    position: relative;
    margin: 45px;
}

.titulo-login {
    color: rgb(8, 206, 114) ;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
  }

.boton-logedinmethods{
    background-color: rgb(8, 206, 114) ;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 0px;
    margin: auto;
    cursor: pointer;
}

.label-login {
    color: #49454567;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    pointer-events: none;
  }

.input-login {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
  resize: none;
}

.input-login:focus {
  outline: none;
  color: rgb(94, 93, 93);
}

.input-login:focus~.label-login{
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: rgb(8, 206, 114) ;
}

.barra-login {
    position: relative;
    display: block;
    width: 100%;
}

.input-login:focus~.barra-login::before{
  width: 100%;
}


.barra-login::before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to left, #000000, rgb(8, 206, 114));
    transition: 0.3s ease all;
    left: 0%;
}